:root {
    --teal: #279eBc;
    --teal_hover: #084e60;
}

* {

    font-family: 'Poppins',
        sans-serif;
}

.font {

    font-family: 'Castoro Titling', cursive;
}

.h-font {

    font-family: 'Castoro', serif;
}

/*Remover do campo do tipo number as setas que fazem scroll de numeros*/
/*remover para outros navegadores*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remover para Firefox */
input[type=number] {
    -moz-appearance: textfield;

}

.custom-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal);


}

.custom-bg:hover {
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.h-line {
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}